# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# Backend
DATABASE_URL=
SECRET_KEY=
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# API Keys
AI_API_KEY=
SENDGRID_API_KEY=
